<div>
    <h1>np-ui-color-picker</h1>
    <h3>Custom Angular 9 and 9+ color picker component.</h3>
</div>

<div>
    <fieldset>
        <legend>1. Default color picker</legend>
        <np-ui-color-picker [(ngModel)]="currentColor1"></np-ui-color-picker>
        <div>Selected color code: {{currentColor1}}</div>
        <button (click)="currentColor1 = '#ed5a0f'">Set color #ed5a0f</button>
    </fieldset>
</div>

<div>
    <fieldset>
        <legend>2. Disabled color picker</legend>
        <np-ui-color-picker [(ngModel)]="currentColor2" disabled></np-ui-color-picker>
    </fieldset>
</div>

<div>
    <fieldset>
        <legend>3. Required Validation in color picker</legend>
        <np-ui-color-picker [(ngModel)]="currentColor3" [required]="true" #validations="ngModel">
        </np-ui-color-picker>
        <div *ngIf="validations.control.touched && validations.control.errors?.required" class="color-red">
            Color is required.
        </div>
    </fieldset>
</div>

<div>
    <fieldset>
        <legend>4. Default open color picker</legend>
        <np-ui-color-picker [(ngModel)]="currentColor4" [defaultOpen]="true">
        </np-ui-color-picker>
    </fieldset>
</div>

<div>
    <fieldset>
        <legend>5. Pre-defined color list in color picker</legend>
        <np-ui-color-picker [(ngModel)]="currentColor5" [colors]="existingColors5">
        </np-ui-color-picker>
    </fieldset>
</div>

<div>
    <fieldset>
        <legend>6. Add placeholder</legend>
        <np-ui-color-picker [(ngModel)]="currentColor6" [placeholder]="'Select font color'">
        </np-ui-color-picker>
    </fieldset>
</div>

<div>
    <fieldset>
        <legend>7. Hide color input control</legend>
        <np-ui-color-picker [(ngModel)]="currentColor7" [hideColorInput]="true">
        </np-ui-color-picker>
    </fieldset>
</div>

<div>
    <fieldset>
        <legend>8. Bind change event</legend>
        <np-ui-color-picker [(ngModel)]="currentColor8" (onChange)="onChangeColor($event)">
        </np-ui-color-picker>
    </fieldset>
</div>