<div>
    <fieldset>
        <legend>1. Default color picker</legend>
        <np-ui-color-picker [(value)]="currentColor1"></np-ui-color-picker>
        <div>Selected Color id: {{currentColor1}}</div>
    </fieldset>
</div>

<div>
    <fieldset>
        <legend>2. OnChange event for color picker</legend>
        <np-ui-color-picker [(value)]="currentColor2" (onChange)="onColorSelect($event)"></np-ui-color-picker>
    </fieldset>
</div>

<div>
    <legend>3. Set color to color picker</legend>
    <fieldset>
        <np-ui-color-picker [(value)]="currentColor3"></np-ui-color-picker>
        <button type="button" (click)="setBlackColor()">Set Black Color</button>
    </fieldset>
</div>

<div>
    <fieldset>
        <legend>4. Always open color picker</legend>
        <np-ui-color-picker [(value)]="currentColor4" [defaultOpen]="true"></np-ui-color-picker>
    </fieldset>
</div>

<div>
    <fieldset>
        <legend>5. Set existing colors list</legend>
        <np-ui-color-picker [(value)]="currentColor5" [colors]="existingColors"></np-ui-color-picker>
    </fieldset>
</div>

<div>
    <fieldset>
        <legend>6. Show OK button to close color picker popup</legend>
        <np-ui-color-picker [(value)]="currentColor6" [isOkButton]="true"></np-ui-color-picker>
    </fieldset>
</div>

<div>
    <fieldset>
        <legend>7. Set Disable/Enabled</legend>
        <np-ui-color-picker [(value)]="currentColor7" [disabled]="isDisabled"></np-ui-color-picker>
        <button (click)="isDisabled = !isDisabled">Disable/Enabled</button>
    </fieldset>
</div>

<div>
    <fieldset>
        <legend>8. Set Placeholder</legend>
        <np-ui-color-picker [placeholder]="'Set color for header'"></np-ui-color-picker>
    </fieldset>
</div>

<div>
    <fieldset>
        <legend>9. hide color input, show only selected color block</legend>
        <np-ui-color-picker [hideColorInput]="true"></np-ui-color-picker>
    </fieldset>
</div>

<div>
    <fieldset>
        <legend>10. required validation</legend>
        <np-ui-color-picker [required]="true" [name]="'txtColorCode'"></np-ui-color-picker>
    </fieldset>
</div>